@import 'tailwindcss';

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bricolage Grotesque';
	src: url('/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@theme inline {
	--color-background: #eeeeee;
	--color-foreground: #1b1b1b;
	--color-card: #f7f7f7;
	--color-card-foreground: #1b1b1b;
	--color-popover: #f7f7f7;
	--color-popover-foreground: #1b1b1b;
	--color-primary: #1919e7;
	--color-primary-foreground: #ffffff;
	--color-secondary: #e4e4e4;
	--color-secondary-foreground: #1b1b1b;
	--color-muted: #e2e2e2;
	--color-muted-foreground: #4d4d4d;
	--color-accent: #1919e7;
	--color-accent-foreground: #ffffff;
	--color-destructive: hsl(0 84.2% 60.2%);
	--color-destructive-foreground: hsl(210 40% 98%);
	--color-border: #d2d2d2;
	--color-input: #d2d2d2;
	--color-ring: #1919e7;
	--radius: 0.5rem;
}

@layer base {
	*,
	*::before,
	*::after {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-family: 'Inter', sans-serif;
		font-feature-settings: "rlig" 1, "calt" 1;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Bricolage Grotesque', 'Inter', sans-serif;
	}
}
